/************* Container CSS *****************/

.interactContainer {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.clientButton {
  background-color: green;
  color: white;
  border-radius: 5px;
  border: none;
  font-weight: bolder;
}

.clientButtonContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  height: 62%;
  width: 12%;
  background-color: green;
  color: white;
  border-radius: 5px;
  border: none;
  align-items: center;
  transition: transform 0.2s ease-in-out;
}

.clientButtonContainer:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.dataContainer {
  display: flex;
  flex-flow: column nowrap;
  font-size: larger;
  justify-content: space-between;
  margin: 50px 70px 20px 70px;
  height: 12vh;
}

.searchContainer {
  width: 30%;
  height: 62%;
  background-color: white;
  display: flex;
  align-items: center;
  padding: 10px;
  border: 2px solid #d9d9d9;
  border-radius: 5px;
}

.dataTitle {
  padding: 5px;
  font-weight: bolder;
}

.searchBar {
  width: 100%;
  height: 100%;
  font-size: large;
  padding: 10px;
  flex: 1;
  border: none;
  outline: none;
}
.searchContainer:hover {
  border: 2px solid green;
  cursor: pointer;
}

.searchContainer:focus-within {
  border: 2px solid green;

}

.fileImport:hover {
  font-size: 150%;
}

/************* Tabs and Table *****************/

.jobTableContainer {
  margin: 0px 70px 0px 70px;
  height: 80vh;
}
