.offCanvas {
  width: 40% !important;
}
.submitButton{
  display: flex;
  background-color: green;
  border-color: green;
}

.submitButton:hover,
.submitButton:active{
  background-color: rgb(0, 97, 0) !important;
  border-color: rgb(0, 97, 0) !important;
}