.tableContainer{
  min-height: 60vh;
  max-height: 60vh;
  overflow-y: auto;

}

.tableContainer::-webkit-scrollbar {
  width: 10px; 
}

.tableContainer::-webkit-scrollbar-track {
  background-color: white; 
}

.tableContainer::-webkit-scrollbar-thumb {
  background-color: green; 
  border-radius: 10px; 
}

.tableContainer::-webkit-scrollbar-thumb:hover {
  background-color: #555; 
}


.cell {
  font-size: large;
  font-weight: bolder;
}

.tableRow:hover{
  cursor: pointer;
}

/* Define the common styles for the status buttons */
.statusButton {
 
}

/* Define the specific styles for each status button */
.yellowButton {
  background-color: rgb(231, 231, 59);
  border: none;
  color: white;
}

.redButton {
  background-color: red;
  color: white;
  border: none;
}

.greenButton {
  background-color: green;
  color: white;
  border: none;
}

