.jobsDueTitle {
  border-bottom: solid 3px #003e29;
}

.scrollableTable {
  max-height: 200px;
  overflow-y: auto;
}

.scrollableTable::-webkit-scrollbar {
  width: 10px;
}

.scrollableTable::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.scrollableTable::-webkit-scrollbar-thumb {
  background-color: #003e29;
  border-radius: 10px;
}

.scrollableTable::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.verticalCenter {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

