.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
}

.modalContainer {
  max-width: 500px;
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-flow: column nowrap;
  overflow: hidden;
  background-color: #ffffff;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  z-index: 5;
  animation: fadeIn 0.3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.closeBtn {
  position: fixed;
  top: 12px;
  right: 14px;
  border: none;
  background-color: #d9d9d9;
  font-weight: bold;
}

.closeBtn:hover,
.closeBtn:focus {
  color: green;
  text-decoration: none;
  cursor: pointer;
}

.modalContent {
  display: flex;
  flex-flow: column wrap;
  margin-top: 5px;
  padding: 25px;
  z-index: 2;
  justify-content: center;
}

.modalHeader {
  background-color: #d9d9d9;
  width: 100%;
  height: 10%;
  padding: 10px;
  font-weight: bolder;
}

.modalFooter {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  background-color: #d9d9d9;
  width: 100%;
  padding: 12px;
}

.invoice {
  display: none;
}

.attach {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  text-align: center;
}

.attach:hover {
  background-color: #d9d9d9;
  transition: 0.3s;
}

#submitButtonForm {
  justify-content: center;
  --c: #eee; /* the color*/
  box-shadow: 0 0 0 0.1em inset var(--c);
  --_g: linear-gradient(var(--c) 0 0) no-repeat;
  background: var(--_g) calc(var(--_p, 0%) - 100%) 0%,
    var(--_g) calc(200% - var(--_p, 0%)) 0%,
    var(--_g) calc(var(--_p, 0%) - 100%) 100%,
    var(--_g) calc(200% - var(--_p, 0%)) 100%;
  background-size: 50.5% calc(var(--_p, 0%) / 2 + 0.5%);
  outline-offset: 0.1em;
  transition: background-size 0.4s, background-position 0s 0.4s;
  font-family: system-ui, sans-serif;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 0.1em 0.6em;
  font-weight: bold;
  border: none;
}

#submitButtonForm:hover {
  --_p: 100%;
  transition: background-position 0.4s, background-size 0s;
}

.modalContentInput ~ .modalContentInputFocus:before,
.modalContentInput ~ .modalContentInputFocus:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #ededed;
  transition: 0.3s;
  z-index: -1;
}

.modalContentInput:focus ~ .modalContentInputFocus:before {
  transition: 0.3s;
  width: 50%;
}

.modalContentInput ~ .modalContentInputFocus:after {
  left: auto;
  right: 0;
}

.modalContentInput:focus ~ .modalContentInputFocus:after {
  transition: 0.3s;
  width: 50%;
}

.modalContentInputContainer {
  float: left;
  width: inherit;
  margin: 8px 3%;
  position: relative;
}

.modalContentInput {
  border: 0;
  padding: 7px 15px;
  border: 1px solid #ccc;
  position: relative;
  background: transparent;
  font: 15px/24px 'Lato', Arial, sans-serif;
  font-weight: bolder;
  width: 100%;
  box-sizing: border-box;
  letter-spacing: 1px;
}
