.links {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.sidebarLinkActive {
  background-color: #d9d9d9;
  border-radius: 25px;
  width: 70%;
  color: inherit;
  text-decoration: inherit;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  padding: 10px;
  border: none;
  text-align: center;
}

.theLink {
  width: 70%;
  color: inherit;
  text-decoration: inherit;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  padding: 10px;
  border: none;
  text-align: center;
}

.theLink:hover {
  background-color: #d9d9d9;
  border-radius: 25px;
}

.icon {
  font-size: 35px;
  vertical-align: middle;
  padding: 5px;
}

#sidebar {
  background-color: whitesmoke;
  flex-shrink: 0;
  width: 240px;
  border-right: 5px solid lightgray;
}
