.phone{
    display: flex;
    justify-content: center;
    font-size: large;
    font-weight: bolder;
}

.jobTitle{
    font-size: large;
    font-weight: bolder;
    background-color: red;
}

.dateValue{
    font-size: large;
    font-weight: bolder;
}

.table{
    border-collapse: collapse;
    font-size: 14px;
    overflow-y: scroll;  
    background-color: rebeccapurple;
}
  
.tbody{
    overflow-y: scroll;
    display: block;
    height: 700px;
    text-align: left;
}

.th{
    display: none;
}

.td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    height: 80px;

} 

.tr:hover{
    background-color: #d9d9d9;
    cursor: pointer;
}

/* Mobile view for Table */
@media screen and (max-width: 767px) {
.table {
      display: block;
      overflow-x: auto;
      white-space: nowrap;
    }
    
.th,
.td {
      display: inline-block;
      border: none;
      width: 200px;
    }
    
.th {
      text-align: left;
    }
  }
