.cell {
  font-size: large;
  font-weight: bolder;
}

.table {
  border-collapse: collapse;
  font-size: 14px;
  width: 100%;
}

.tbody {
  overflow-y: scroll;
}

.th {
  text-align: left;
  border-bottom: 2px groove #d9d9d9;
  padding: 20px;
  background-color: #f9f9f9;
}

.td {
  padding: 20px;
  border-bottom: 1.5px solid #d9d9d9;
  text-align: left;
}

.tr:hover {
  background-color: #d9d9d9;
  cursor: pointer;
}

.loadingContainer {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
