
.dashboard-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.dashContainer{
    background-color: #EDEDED;
    width: 90%;
    height: 40%;
    display: flex;
    flex-flow: column nowrap; 
    border-radius: 20px;
    padding: 30px;
}

.innerContainer{
    display: flex;
    background-color: #D9D9D9;
    height: 80% ;
    border-radius: 10px;
    margin: 20px 0px 20px 0px;
    font-weight: bolder;
    font-size: larger;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);

}

.innerContainer:hover{
    animation: pulse 1.5s infinite;
}

@keyframes pulse{
    0% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
      }
      
      70% {
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
      }
      
      100% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
      }
}

.pulse {
    animation-name: pulse;
  }