@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
* {
    box-sizing: border-box;
    /* text-align: center; */
    margin: 0;
    padding: 0;
  }


 /************************************************************************/ 
 /**   Main Page layout                                                                  */
 /************************************************************************/ 
#Wrapper {
    text-decoration: none;
    font-family: "Montserrat";
    color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.layout {
    display: flex;
    flex-grow: 1;
    overflow: hidden
}

.HeaderBar {
    background-color: whitesmoke;
    height: 100px;
    width: 100%;
    margin-left: 240px ;
    border-bottom: 5px solid lightgray;
    position: fixed;
    top: 0;
    left: 0;
    
}

main {
    background-color: whitesmoke;
    flex-grow: 1;
    margin-top: 100px;
}

#sidebar{
    background-color: whitesmoke;
    flex-shrink: 0;
    width: 240px;
    border-right: 5px solid lightgray;
}



