


#user{
    text-align: center;
}

#iconUser{
    font-size: 15px;
    vertical-align: middle;
}

#user-icon
{
    font-size: 150px;
    margin-top: 30px;
    margin-left: 40px;
    vertical-align: top;
    
    
} 

.line {
    border-bottom: 3px solid lightgray;
    margin-left: 5%;
    margin-top: 30px;
    width: 90%;
}

.links{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.sidebar-link-active{
    background-color: #D9D9D9;
    border-radius: 25px;
}

#theLink{
    width: 70%;
    color: inherit;
    text-decoration: inherit;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    padding: 10px;
    border: none;
    text-align: center;
}

#theLink:hover{
    background-color: #D9D9D9;
    border-radius: 25px;
}

.icon{
    font-size: 35px;
    vertical-align: middle;
    padding: 5px;
}
