.background{
  min-height: 100vh;
  background: linear-gradient(135deg, #004d40 0%, #1b4332 100%);
}

.loginCard {
  background-color: #ffffff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 8px;
}

.loginButton {
  background-color: #228B22; 
  border-color: #228B22; 
  color: white; 
}

.loginButton:focus,
.loginButton:hover,
.loginButton:active,
.loginButton:disabled {
  background-color: #006400; 
  border-color: #006400; 
  color: white; 
}