@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
* {
    box-sizing: border-box;
    /* text-align: center; */
    margin: 0;
    padding: 0;
  }


 /************************************************************************/ 
 /**   Main Page layout                                                                  */
 /************************************************************************/ 
#Wrapper {
    text-decoration: none;
    font-family: "Montserrat";
    color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.layout {
    display: flex;
    flex-grow: 1;

}

.HeaderBar {
    background-color: whitesmoke;
    height: 15%;
    border-bottom: 5px solid lightgray;
    
}

main {
    background-color: moccasin;
    flex-grow: 1;
}

nav{
    background-color: whitesmoke;
    flex-shrink: 0;
    width: 14%;
    border-right: 5px solid lightgray;
}

#user-icon
{
    margin-left: 25%;
    margin-right: 5%;
    padding-top: 4%;
}

.line {
    border-bottom: 3px solid lightgray;
    margin-left: 5%;
    margin-top: 25%;
    width: 90%;
}