.verticalCenter{
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.tableContainer {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  height: 90vh;
}

.invoiceButton {
  background-color: green;
  border-color: green;
  width: 30%;
}

.invoiceButton:hover,
.invoiceButton:active,
.invoiceButton:disabled {
  background-color: rgb(0, 97, 0) !important;
  border-color: rgb(0, 97, 0) !important;
}

