.clientCounter {
  background-color: #003e29;
  color: white;
  border-radius: 3px;
  box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.2);
}

.overdueCounter {
  background-color: #003e29;
  color: white;
  border-radius: 3px;
  box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.2);
}
